.stickyWhatsApp{
    display: flex;
    align-items: start;
    justify-content: end;
    position: sticky;
    bottom: 10%;


}
.stickyWhatsApp img{
    width: 5%;
    border-radius: 20%;
}

.number{
    font-family: Lobster;
    color: black;
    text-decoration: none;
    height: 100%;

}
.text {
    background-color: white;
    box-shadow: black 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
border-radius: 10%;
    opacity: 0.7;
}