.container {
    display: flex;
    justify-content: center;
    gap : 20%;
    flex-wrap: wrap;
    background: linear-gradient(black,grey,black);
    align-items: center;
    border: solid grey 2px;
}
.item a {

    color: white;
    text-decoration: none;
}
.item{
    min-height: 14vh;
    width: 10%;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lobster;

}

