.container{
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 3%;
}

.item a{

    font-family: Impact, fantasy;
    color: black;
    box-shadow: black 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5%;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    padding: 2%;
    border: solid red 2px;
}

.item img{
    width: 30vw;
    height: 70vh;
}